body {
    background-color: rgb(45, 41, 76);
    padding: 0px;
    margin: 0px;
}

.bar-principal {
    position: relative;
    height: 65px;
    background-color: rgb(65, 61, 93);
    margin: 0px;


}

.Sair-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
    font-family: sans-serif;
    position: absolute;
    top: 20px;
    color: rgb(204, 203, 207);
    margin-left: 93%;


}

.minhascolecoes-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
    font-family: sans-serif;
    position: absolute;
    top: 20px;
    color: rgb(204, 203, 207);
    margin-left: 79%;


}

.atualizar {
    display: flex;
    margin-top: 40px;
    width: 100%;
    padding-bottom: 40px;

}

.colecao-objeto {
    display: flex;
    margin-left: 67px;
    margin-top: 35px;
    width: 90%;
    margin-bottom: 20px;

}

.card-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}
#card-container{
    display: flex;
    flex-flow: column;
    align-items: center;
}

.card {
    display: flex;
    background-color: white;
    width: 90%;
    height: 40px;
    margin-bottom: 2px;
}
.card-busca {
    display: flex;
    background-color: white;
    width: 90%;
    height: 45px;
    margin-bottom: 2px;
}

.card-wrapper-frente {
    display: flex;
    flex-direction: row;
    height: 45%;
    width: 100%;
}

.card-wrapper-verso {
    height: 45%;
    width: 100%;
}

.card-frente {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.card-texto-frente {
    text-align: center;
    margin-top: 50px;
}

.card-verso {
    width: 100%;

}

.card-texto-verso {
    text-align: center;
    margin-top: 50px;
}

.busca-text{
    display: flex;
    margin-top: 6px;

}
.button-wrapper{
    display: flex;
}
#img-lapis {
    display: flex;
    border-color: white;
    color: white;
    background-color: white;

}
#img-delete {
    display: flex;
    border-color: white;
    color: white;
    background-color: white;

}
#img-lapis-1 {
    margin-left: 86%;
}

#img-lapis-2 {
    margin-left: 86%;
}

#img-lapis-3 {
    margin-left: 84%;
}

#img-lapis-4 {
    margin-left: 84.5%;
}

#img-lapis-5 {
    margin-left: 82.8%;
}

#img-lapis-6 {
    margin-left: 85%;
}

#img-lapis-7 {
    margin-left: 86.8%;
}

#img-lupa{
    width: 60px;
    height: 45px;
}
#text-frente {
    font-family: sans-serif;
    font-size: 20px;
    font-weight: bolder;
    margin-left: 10px;
    color: rgb(44, 42, 42);
}
#text-frente-lupa {
    font-family: sans-serif;
    font-size: 17px;
    margin-left: 10px;
    color: rgb(134, 141, 150);
}
#texto-senha{

    width: 80%;
    height: 20px;
    border: 2px;
    border-radius: 4px;
    padding: 15px 0px 15px 20px;
    
}
#text-verso {

    font-family: sans-serif;
    font-size: 15px;
    color: rgb(88, 87, 87);
}

#text-card {
    font-family: sans-serif;
    font-size: 25px;
    text-decoration: underline;
    font-weight: bolder;
}

#mensagem-text {
    font-family: sans-serif;
    font-size: 25px;
    color: rgb(204, 203, 207);
}

#mensagem-1-text {
    font-family: sans-serif;
    font-size: 26px;
    color: white;
    font-weight: bolder;
}

.button {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

}

#button-1 {
    border-radius: 5px;
    padding: 15px 45px 15px 45px;
    background-color: rgb(87, 150, 106);
    color: rgb(255, 255, 255);
    font-size: 15px;
    font-family: sans-serif;
    font-weight: 700;
    margin-top: 50px;
}
#button-2 {
    border-radius: 5px;
    padding: 15px 45px 15px 45px;
    background-color: rgb(94, 87, 150);
    color: rgb(255, 255, 255);
    font-size: 15px;
    font-family: sans-serif;
    font-weight: 700;
    margin-left: 65px;
}